[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

colorama = ">=0.3.3"
pyserial = ">=2.7"
prettytable = ">=0.7.2"
"jinja2" = ">=2.7.3"
intelhex = ">=1.3"
junit-xml = "*"
pyyaml = "*"
requests = "*"
mbed-ls = ">=0.2.13"
mbed-host-tests = ">=1.1.2"
mbed-greentea = ">=0.2.24"
"beautifulsoup4" = ">=4"
fuzzywuzzy = "*"
